* {
  box-sizing: border-box;
}
body{
  background-color: rgb(116, 16, 16);
}
.banner{
  color:white;
  position: relative;
}
.banner img{
  display: block;/*So that image completely covers browser width as img by itself is inline and leaves space
  Instead of this, the img can simply also surrounded by a div or this can be used:
  display: flex;
  justify-content: start;*/
  width: 101.2%;
  max-height: 27em;
  margin-bottom: 1%;
  position: relative;
  left: -0.6%;
  top: -0.5em;
}
.banner h1{
  position: absolute;
  left:39%;
  bottom:35%;
  border:solid white;
  padding: 2% 5%;
}

.menu-img{
  width: 100%;
  height: 15em;
}
.menu-title{
text-align: center;
background-color:rgb(116, 16, 16);
color:white;
}
.flex-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.flex-item{
  background-color: orange;
  width:75%;
  overflow: auto;
  border: solid black;
  margin-bottom: 2%;
  float: left;
}
.flex-item p{
  padding: 1% 5%;
}
/*For Desktop view*/
@media screen and (min-width:992px) {
.col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;}

}

/*For Tablet view*/
@media screen and (max-width:992px) and (min-width:768px){
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}
 
}

 /*For mobile view*/
@media screen and (max-width:768px) {
  .col-sm-1 {width: 8.33%;}
  .col-sm-2 {width: 16.66%;}
  .col-sm-3 {width: 25%;}
  .col-sm-4 {width: 33.33%;}
  .col-sm-5 {width: 41.66%;}
  .col-sm-6 {width: 50%;}
  .col-sm-7 {width: 58.33%;}
  .col-sm-8 {width: 66.66%;}
  .col-sm-9 {width: 75%;}
  .col-sm-10 {width: 83.33%;}
  .col-sm-11 {width: 91.66%;}
  .col-sm-12 {width: 100%;}
  
  } 

