@use "../../../styles/partials/mediaQuery";
@use "../../../styles/partials/addFlex";

.navbar {
    $root: &;
    background-color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #292524;
    margin-bottom: 2rem;
    position: relative;
    font: 500 20px/30px "Nunito";
    @include addFlex.flex-container($ai: center);

    &__container {
        width: 100%;
        padding-right: 2rem;
        padding-left: 2rem;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        @include addFlex.flex-container($jc: space-between, $ai: center);

        @include mediaQuery.maxCustomDevice(640px) {
            flex-wrap: wrap;
        }
    }

    &__toggler {
        display: none;

        @include mediaQuery.maxCustomDevice(640px) {
            display: block;
        }
    }

    &__brand {
        @include addFlex.flex-container($ai: center);
        gap: 0.5rem;
        margin-right: 1rem;
        text-decoration: none;
        font: inherit;
    }

    &__collapse {
        @include addFlex.flex-container($jc: space-between, $ai: center);
        flex-basis: 100%; // Depends on flex-direction. Acts like width for row and height for column
        flex-grow: 1;

        @include mediaQuery.maxCustomDevice(640px) {
            display: none;
            flex-direction: column;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            max-height: 0;
            transition: max-height 0.5s ease;
        }

        &.show {
            @include mediaQuery.maxCustomDevice(640px) {
                @include addFlex.flex-container($direction: column);
                max-height: 100%;
            }
        }
    }

    &__nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
        @include addFlex.flex-container($ai: center);

        @include mediaQuery.maxCustomDevice(640px) {
            @include addFlex.flex-container($direction: column);
            opacity: 0;
            transition: opacity 2s;

            #{$root}__collapse.show & {
                opacity: 1;
            }
        }

        &__item {
            font: inherit;
            text-decoration: none;
            @include addFlex.flex-container($ai: center);
            gap: 0.5rem;
            padding: 0.75rem;
        }
    }
}