@use "../partials/mediaQuery";
@use "../partials/addFlex";

.sticky-footer {
    position: sticky;
    top: 100%;
    padding: 15px 50px;
    color: #fafafa;
    background-color: #262626;
    @apply font-sans;

    &__content {
        font-weight: 700;
        @apply text-lg;
    }
}