@use "../partials/addFlex";

.recipe_details__card {
    width: 85%;
    color: #333;
    @apply mx-auto;

    &__header {
        color: lighten(#b91c1c, 7%);
        @apply text-4xl font-semibold;
    }

    &__tags {
        margin-top: 1rem;
        @include addFlex.flex-container($ai: center, $wr: wrap);
        gap: 0.5rem;
    }

    &__ingredients {
        &__heading {
            border-bottom: 2px solid gainsboro;
            max-width: 20rem;
            font-size: xx-large;
            margin-bottom: 1rem;
        }

        &__list {
            column-count: 2;
            column-gap: 1rem;
            margin-bottom: 2rem;
        }
    }

    &__instructions {
        counter-reset: method;
        list-style: none;
        @include addFlex.flex-container($direction: column, $jc: flex-start);
        gap: 1rem;

        &__item {
            @include addFlex.flex-container($jc: flex-start, $ai: flex-start);

            &::before {
                counter-increment: method;
                position: relative;
                content: counter(method);
                background-color: #e7e5e4;
                border-radius: 50%;
                margin-right: 0.75rem;
                min-width: 2rem;
                min-height: 2rem;
                text-align: center;
                padding-top: 4px;
                bottom: 3px;
            }
        }
    }
}