@use "../../../styles/partials/addFlex";

.recipe_list {
  &__loading {
    @include addFlex.flex-container($jc: center, $ai: center);
  }

  &__card {
    position: relative;
    flex-basis: 325px;

    &__photo {
      position: relative;
      height: 200px;

      >img {
        object-fit: cover;
        object-position: center;
      }
    }

    &__footer {
      position: sticky;
      top: 100%;
      @include addFlex.flex-container($jc: center);
      margin-top: 1rem;
    }
  }
}