$btn-colors:(
"primary":#0d6efd,
"danger":#dc3545,
"dark":#212529,
);

@each $key, $value in $btn-colors {
    .btn-#{$key} {
        color: #fff;
        background-color: $value;
        border-color: $value;

        &:hover{
            @if ($key=="dark") { 
                    color: #fff;
                    background-color: lighten($value,10%);
                    border-color: lighten($value,10%);
              } @else {
                    color: #fff;
                    background-color: darken($value,5%);
                    border-color: darken($value,5%);
            }
        }
      }
}