$bg-body: rgb(125, 180, 255);
$banner-bg:rgb(240, 240, 240);
$error:crimson;
$item-heading:rgb(2, 172, 172);
$item-hover-border:rgb(35, 202, 160);
$component-border:gainsboro;
$searchForm-focus:aqua;
$create-link:rgb(52, 231, 126);
