@import url('https://fonts.googleapis.com/css?family=DM+Sans');

@import '../../assets/css/partials/colors';
@import '../../assets/css/partials/flex';
@import '../../assets/css/partials/breakpoints';

.sticky-footer{
    position:sticky;
    top: 100%;
    width: 100%;
    background-color: map-get($map: $colors, $key:"bg-grey-1" );
    padding: 1.5rem;
    &__content{
        text-align:center;
        font-weight: 700;
    }
}