{% extends './base.html'%}
{% block title %}Home{% endblock %}
{% block content %}
{% for message in messages %}
  {% if message.tags == "success" %}
<div class="text-{{message.tags}}">{{message}}</div>
  {% endif %}
{% endfor %}
<div class="mt-0 p-4">
  <h1 class="text-center">Welcome to my blog site</h1>
</div>
<div class="card">
  <div class="card-header">
    <form method="get">
      {{article_filter.form.title}}
      {{ article_filter.form.author.label_tag }}
      {{article_filter.form.author}}
      {{ article_filter.form.category.label_tag }}
      {{article_filter.form.category}}
      {{ article_filter.form.start_date.label_tag }}
      {{ article_filter.form.start_date }}
      {{ article_filter.form.end_date.label_tag }}
      {{ article_filter.form.end_date }}
      <button type="submit" class="btn btn-dark float-right"><i class="fa fa-search"></i></button>
    </form>
    {% for message in messages %}
      {% if message.tags == "info" %}
      <div class="fs-4">{{message}}</div>
    {% endif %}
  {% endfor %}
  </div>
{% if article_list%}
    <ul class="list-group list-group-flush"></ul>
    {% for article in article_list%}
       <a href="{% url 'articles:post' article.slug %}" style="text-decoration: none ;"> 
        <li class="list-group-item">
         <h2>{{article.title}}</h2>
         <div><small>Category: {{article.category}}</small></div>
         <div><small><img src="{{article.author.photo.url}}" width="24" height="22" class="rounded-circle" alt="Author image"> 
          {{article.author}} | {{article.create_date}}</small></div>
         <p>{{article.snippet}}</p>
     </li>
    </a>
    {% endfor %}
  </ul>
  </div>
    {% if is_paginated %}
    <div class="flex-row d-flex justify-content-between mt-2 mx-2">
            <p class="col-md-auto">Showing {{page_obj.start_index}} to {{page_obj.end_index}} out of {{page_obj.paginator.count}} posts</p>
            <div class="col-md-auto">
                <nav aria-label="Page navigation">   
                    <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                      <a class="page-link bg-secondary text-white" href="?page=1{% if querystring %}&amp;{{ querystring }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">begin</span>
                      </a>
                    </li>   
                    {% endif %}
                    {% for n in page_obj.paginator.page_range %}
                      {% if page_obj.number == n %}
                        <li class="page-item active" >
                          <span class="page-link bg-dark text-white border-light">{{ n }}<span class="sr-only">(current)</span></span>
                        </li>
                      {% elif n > page_obj.number|add:'-2' and n < page_obj.number|add:'4' %}
                        <li class="page-item"><a class="page-link bg-secondary text-white" href="?page={{ n }}{% if querystring %}&amp;{{ querystring }}{% endif %}">{{ n }}</a></li>
                      {% endif %}
                    {% endfor %}
                    
                    {% if page_obj.has_next %}
                      <li class="page-item">
                        <a class="page-link bg-secondary text-white" href="?page={{ page_obj.paginator.num_pages }}{% if querystring %}&amp;{{ querystring }}{% endif %}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">end</span>
                        </a>
                      </li>
                      {% endif %}   
                    </ul> 
                    </nav>
                  </div>
        {% endif %}
{% else %}
<p class="card-body">No article posts found</p>
{% endif %}
{% endblock %}