@use "../partials/addFlex";

.recipe_details__card {
    width: 85%;
    color: #333;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    &__header {
        color: lighten(#b91c1c, 7%);
        @apply text-4xl font-semibold;
    }

    &__tags {
        margin-top: 1rem;
        @include addFlex.flex-container($ai: center, $wr: wrap);
        gap: 0.5rem;

        &__item {
            flex-basis: auto;
        }
    }
}