<div class="card w-50 mx-auto">
    <form method="post" class="card-body text-center">
        <p><label for="title">Blog title</label>
        <input type="text" id="title" name="title"></p>
        <p><label for="snippet">Blog snippet</label>
        <input type="text" id="snippet" name="snippet"></p>
        <p><label for="body">Blog body</label>
        <textarea id="body"  name="body" cols="40" rows="10" placeholder="Type your blog body"></textarea></p>
        <button class="btn btn-primary " type="submit">Submit</button>
    </form>
</div>