@import url('https://fonts.googleapis.com/css?family=DM+Sans');

@import '../../assets/styles/partials/colors';
@import '../../assets/styles/partials/flex';
@import '../../assets/styles/partials/breakpoints';

.custom-toast {
    position: fixed;
    bottom: 0;
    right: 0;
    width: max-content;
    padding: 1.25rem;
    max-width: 100%;
    z-index: 500;
    color: map-get($map: $colors, $key: "dark");

    &__header {
        @include addFlex($jc: space-between);
        gap: 1rem;
        padding: 0.5rem 0.75rem;
        background-clip: padding-box;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        border-top-left-radius: calc(0.25rem - 1px);
        border-top-right-radius: calc(0.25rem - 1px);
        background-color: rgb(155, 155, 155);
    }

    &__content {
        background-color: rgba(220, 220, 220, 1);
        padding: 0.75rem 1.5rem;
        text-align: center;
        word-wrap: break-word;
    }
}