$breakpoints:(
 "sm":767.5px,
 "md":768px,
 "lg":992px
);

//media queries
@mixin devices ($breakpoint) { 

    @if $breakpoint == desktop {
        @media only screen and (min-width: map-get($breakpoints,"lg")) {
            @content;
        }
    }

    @if $breakpoint == tablet {    
        @media only screen and (min-width: map-get($breakpoints,"md")) and (max-width: (map-get($breakpoints,"lg")-0.5)){
            @content;
        }
    }

    @if $breakpoint == mobile {
        @media only screen and (max-width: map-get($breakpoints,"sm")) {
            @content;
        }
    }

    
}

@mixin minCustomDevice($breakpoint){
    @media only screen and (min-width: $breakpoint) {
        @content;
    }
}

@mixin maxCustomDevice($breakpoint){
    @media only screen and (max-width: $breakpoint) {
        @content;
    }
}

@mixin minmaxCustomDevice($minBreakpoint,$maxBreakpoint){
    @media only screen and (min-width: $minBreakpoint) and (max-width: $maxBreakpoint){
        @content;
    }
}