$theme-colors: (
    "primary": #0369a1,
    "success": #19bd6d,
    "danger": #ef4444,
    "info": #0dcaf0,
    "dark": #292524,
    "light": #f9fafb,
    "warning": #fbbf24,
);

@each $key,
$value in $theme-colors {
    .btn--#{$key} {
        background-color: $value !important;

        @if $key=="light" or $key=="warning" {
            color: #292524 !important;
        }

        @else {
            color: white !important;
        }

        &:hover {
            @if $key=="dark" or $key=="primary" {
                background-color: lighten($color: $value, $amount: 5%) !important;
            }

            @else {
                background-color: darken($color: $value, $amount: 5%) !important;
            }
        }
    }
}

@each $key,
$value in $theme-colors {
    .text--#{$key} {
        color: $value;
    }
}