@use "../partials/addFlex";

.recipe_list {
  &__loading {
    @include addFlex.flex_container($jc: center, $ai: center);
  }

  &__card {
    position: relative;
    @apply w-3/12;

    &__footer {
      position: sticky;
      top: 100%;
      @include addFlex.flex_container($jc: center);
      @apply mt-4;
    }
  }
}