@use "../partials/addFlex";
@use "../partials/mediaQuery";

.tag-list {
    @include mediaQuery.devices(desktop) {
        column-count: 4; //for arranging items column-wise in the given column count
        column-gap: 2rem;
    }

    @include mediaQuery.devices(tablet) {
        column-count: 3;
        column-gap: 1rem;
    }

    @include mediaQuery.devices(mobile) {
        @include addFlex.flex-container($jc: center, $ai: center, $wr: wrap);
        gap: 1rem;
    }

    &__item {
        border-radius: 50rem;
        width: 15rem;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 1rem;

        @include mediaQuery.devices(mobile) {
            margin-bottom: 0;
        }
    }
}