@use "../../../styles/partials/addFlex";
@use "../../../styles/partials/mediaQuery";


.file-input {
    &__group {
        @include addFlex.flex_container($ai: baseline, $wr: wrap);
        gap: 1rem;
    }

    &__upload {
        @include addFlex.flex_container($ai: center);
        gap: 1rem;

        &__file {
            &--single {
                @include addFlex.flex_container($ai: center);
                gap: 0.25rem;
            }
        }
    }
}