.paginationBttns {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
.paginationBttns a {
    padding: 0.5em 1em 0.5em;
    border-radius: 5px;
    margin-right: 0.15rem;
    color: black;
    cursor: pointer;
    background-color:white;
    text-decoration: none;
  }
  
  .paginationBttns a:hover {
    background-color: rgb(180, 180, 180);
  }
  
  .paginationBttns__active a {
    color: white;
    background-color: black;
  }
  
  .paginationBttns__link,.paginationBttns__breakLabel{
    color:black;
  }
  
  .paginationBttns__disabled a {
    display: none;
  }