<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head.ejs') %> <!-- Unescaped raw output with <%- %> -->
        <title>About</title>
    </head>
    <body>
        <!-- -->
        <%- include('./partials/header.ejs') %>          
        
        <%- include('./partials/nav.ejs') %>

        <div class="w-75 mx-auto mt-2">
            <p>EJS practice with blog example</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget augue sollicitudin, tincidunt lorem sit amet, cursus ex. Maecenas magna neque, venenatis ac turpis ut, porta volutpat enim. Duis porta suscipit nisi, ut lacinia leo facilisis at. Suspendisse iaculis enim in ipsum feugiat, et sagittis velit efficitur. Vestibulum pharetra, nulla quis euismod ultricies, elit tortor tincidunt nibh, vel aliquam augue arcu vel diam. Aliquam erat volutpat. Vestibulum vel odio tristique, scelerisque ligula at, suscipit neque. Ut eu augue id nibh luctus fringilla vel et erat. Vestibulum sit amet dictum ex.</p>
            <p>Cras posuere non arcu ut volutpat. Vestibulum fermentum hendrerit venenatis. Morbi eget mattis sapien, sit amet sodales orci. Nunc laoreet luctus massa eu laoreet. In sit amet elementum justo. Integer a lacus urna. Duis vitae tellus nec tellus vehicula consectetur. Nunc rutrum luctus dui interdum dapibus.</p>
            <p>Praesent vel urna viverra, hendrerit ex at, rutrum ligula. Donec pellentesque posuere ex nec facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce eleifend felis mauris, in condimentum turpis lacinia ac. Nam mi urna, blandit eget pellentesque in, bibendum eu tellus. Duis quam sapien, aliquam vel lectus in, commodo consequat orci. Ut ut mi in magna ultricies sodales. Quisque nibh elit, posuere sit amet velit at, porta tincidunt ipsum. Nulla elit sem, commodo quis urna fringilla, laoreet tincidunt nulla. Donec non iaculis turpis. Donec suscipit porttitor tellus. Praesent dictum tristique ultrices. Duis porttitor enim id imperdiet pulvinar. Sed quam lectus, tristique vel arcu et, sagittis maximus nisi. Nunc et odio nisl.</p>
        </div>
    </body>
</html>