$bg-body: rgb(125, 180, 255);
$error:crimson;
$empList-item-heading:rgb(2, 172, 172);
$empList-item-borderHover:rgb(35, 202, 160);
$component-border:gainsboro;


$colors:(
"bg-grey-1":#EEEDF2,
"bg-grey-2":rgb(225, 225, 225),
"bg-grey-3":rgb(180, 180, 180),
"dark":#001828,

"deep-blue":#174ea1,
);