@import url('https://fonts.googleapis.com/css?family=DM+Sans');

@import '../../assets/css/partials/colors';
@import '../../assets/css/partials/flex';
@import '../../assets/css/partials/breakpoints';

.custom-toast{
    position: fixed;
    bottom:0;
    right:0;
    width: max-content;
    padding:1.25rem;
    max-width: 100%;
    z-index: 500;
    color: map-get($map: $colors, $key:"dark" );
    &__header {
        @include addFlex($jc:space-between);
        gap: 1rem;
        padding: 0.5rem 0.75rem;
        background-clip: padding-box;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        border-top-left-radius: calc(0.25rem - 1px);
        border-top-right-radius: calc(0.25rem - 1px);
        background-color: rgba(200, 200, 200);
    }
    &__content{
        background-color: rgba(255, 255, 255, 1);
        padding:0.75rem 1.5rem;
        text-align:center;
        word-wrap: break-word;
    }
}