@use "../../../styles/partials/addFlex";

.recipe-instructions {
    counter-reset: method;
    list-style: none;
    @include addFlex.flex-container($direction: column, $jc: flex-start);
    gap: 1rem;

    &__vid-player{
        width: 80%;
        height: 500px;
    }

    &__item {
        @include addFlex.flex-container($jc: flex-start, $ai: flex-start);

        &::before {
            counter-increment: method;
            position: relative;
            content: counter(method);
            background-color: #e7e5e4;
            border-radius: 50%;
            margin-right: 0.75rem;
            padding: 6px 14px;
            bottom: 4px;
        }
    }
}