@use "./partials/addFlex";
@use "./partials/colors";

@import url(https://fonts.googleapis.com/css?family=PT+Sans);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Helvetica, sans-serif;
    background-color: #f5a48e;
}


a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button,
input,
span {
    display: inline-block;
    text-align: center;
}

#__next {
    min-height: 100vh;
    position: relative;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, "Lucida Console", Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, "Courier New", monospace;
}

.custom-navbar {
    background-color: white;
    padding: 1rem 1rem 0.75rem 2rem;
    border-bottom: 1px solid #f3f2f2;
    font-weight: 500;
    color: #292524;
    font-family: "Nunito";
    margin-bottom: 2rem;
    @apply text-xl;
}

.nav-item__link {
    color: #333;
    background-color: inherit;
    cursor: pointer;

    &:hover {
        color: #fdba74;
    }

    &--active {
        cursor: pointer;
        color: #ef4444;
        background-color: inherit;

        &:hover {
            color: #fdba74;
        }
    }
}

.sticky-footer {
    position: sticky;
    top: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fafafa;
    @apply font-sans bg-neutral-800;

    &__content {
        text-align: center;
        font-weight: 700;
        @apply text-lg;
    }
}